<html>
  <head>
    <title>My WareHouse</title>
  
    {% include 'warehouse/links.html' %}
  </head>
  <div class="page-header">
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}"><button type="button" class="btn btn-danger">Logout</button></a>
    <a href="{% url 'product_new' %}" class="top-menu" style="color: black">
      
      
</svg><button type="button" class="btn btn-outline-info">Add New
Product +</button></a>

 <a href="{% url 'new_category' %}" class="top-menu" style="color: black">
</svg><button type="button" class="btn btn-outline-info">Add New
Category</button></a>

 <a href="{% url 'new_unit' %}" class="top-menu" style="color: black">
</svg><button type="button" class="btn btn-outline-info">Add New
Unit</button></a>

 <a href="{% url 'new_order' %}" class="top-menu" style="color: black">
</svg><button type="button" class="btn btn-outline-info">New Order</button></a>

 <a href="{% url 'item_order' %}" class="top-menu" style="color: black">
</svg><button type="button" class="btn btn-outline-info">Add item to order</button></a>

 <a href="{% url 'stock' %}" class="top-menu" style="color: black">
</svg><button type="button" class="btn btn-outline-info">Add Stock to Warehouse</button></a>

<h5 class="top-menu" style="color: grey;">Hi, {{request.user.username}} </h5>


    {% else %}
    <a href="{% url 'login' %}" class="top-menu" style="color: black">
</svg><button type="button" class="btn btn-outline-info">Login</button></a>


    {% endif %}
    <h2><a href="/">Inventory Managment</a></h2>
  </div>
  {% include 'warehouse/navbar.html' %}
  
   <div class="container">
      {% block body %}
      {% endblock body %}
    </div>
   {% include 'warehouse/script.html' %}
</html>
