{% extends "warehouse/layout.html" %}
{% block body %}
<h1>Order {{ order.id }}</h1>
<ul>
  <li>Warehouse: {{order.warehouse}}</li>
  <li>Date Created: {{order.date_created}}</li>
</ul>
<h4>Products</h4>
<ul
  ul>
  {% for product in products %}
  <li>{{ product }}</li>
  {% empty %}
  <li>No products.</li>
  {% endfor %}
</ul>
<h2>Items</h2>
<ul>
  {% for item in items %}
  <li>{{item.product.product_name}} {{item.item_quantity}} {{item.product.unit}}</li>
  {% empty %}
  <li>No Items.</li>
  {% endfor %}
</ul>
<br>
<div>
<br>
<br>
<h2>Add Items to order</h2>
<table id="data" class="table table-striped " style="width:100%">
        <thead class="thead-dark ">
            <tr>               
                <th>Warehouse</th>
                <th>Product</th>
                <th>Stock</th>
                <th>Quantiy</th>
                <th></th>                
            </tr>
        </thead>
        <tbody>
          {% for item in stock %}
           <form action="{% url 'add_item' order.id %}" method="POST">
            {% csrf_token %}
            <tr>
                <input type="number" hidden name="product_id" id="" value="{{item.product_id.id}}">
                <td>{{item.warehouse_id.warehouse}}</td>
                <td>{{item.product_id}}</td>
                <td>{{item.stock}}</td>
                <td>{{form.item_quantity}}</td>
                <td></td>
                <td><input type="submit" class="btn btn-success" value="Add"></td>
            </tr>
            </form>
          {% endfor %}         
        </tbody>
        <tfoot>
            <tr>
                <th>Warehouse</th>
                <th>Product</th>
                <th>Stock</th>
                <th>Quantiy</th>
                <th></th> 
            </tr>
        </tfoot>
    </table>
<br>
<br>
<br>
<a href="{% url 'home' %}"><button type="button" class="btn btn-info">Back to Home</button></a>
<br>
<br>
<br>
<br>
<br>
{% endblock %}