{% extends "warehouse/layout.html" %}
{% block body %}
<h1>Order {{ order.id }}</h1>
<ul>
  <li>Warehouse: {{order.warehouse}}</li>
  <li>Date Created: {{order.date_created}}</li>
  <li>Number of items in this order: {{item_number}}</li>
</ul>
{% if group == "admin" %}
  {% if item_number > 0 %}
    <a href="{% url 'deliver' order.id %}"><button type="button" class="btn
  btn-success">Deliver</button></a>
  {% else %}
    <p style="color: forestgreen;">Rememeber that to deliver an order, it must have at least one element in it</p>
  {% endif %}

  {% if item_number > 0 %}
  <p style="color: coral;">To delete an order, it must not have any elements in it</p>
  {% else %}
  <a href="{% url 'reject' order.id %}"><button type="button" class="btn
  btn-danger">Reject</button></a>
  {% endif %}
{% endif %}

<br>
<h2>Current Items in this order</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <form action="{% url 'remove_item' order.id %}" method="POST">
      {% csrf_token %}
      <tr>
        <input type="number" name="item_id" hidden id="" value="{{item.id}}">
        <input type="number" name="item_quantity" hidden id="" value="{{item.item_quantity}}">
        <input type="number" name="product_id" hidden id="" value="{{item.product.id}}">
        <th scope="row">{{item.id}}</th>
        <td>{{item.product.product_name}}</td>
        <td>{{item.item_quantity}}</td>
        <td>{{item.product.unit}}</td>
        <td><input type="submit" class="btn btn-danger" value="Remove"></td>
      </tr>
    </form>
    {% empty %}
    <li>No Items.</li>
    {% endfor %}
  </tbody>
</table>
<br>
<div>
  <br>
  <h2>Add more Items to order</h2>
  <br>
  <table id="data" class="table table-striped " style="width:100%">
    <thead class="thead-dark ">
      <tr>
        <th></th>
        <th>Warehouse</th>
        <th>Product</th>
        <th>Stock</th>
        <th>Quantiy</th>
        
        
      </tr>
    </thead>
    <tbody>
      {% for item in stock %}
      <form action="{% url 'add_item' order.id %}" id="form-id" method="POST">
        {% csrf_token %}
        <tr>
          <td><input type="text" hidden name="product_pk" id="" value="{{item.product_id.id}}"></td>
          <td>{{item.warehouse_id.warehouse}}</td>
          <td>{{item.product_id}}</td>
          <td>{{item.stock}}</td>
          <td>{{form.item_quantity}}</td>
          <td><input type="submit" class="btn btn-success" id="your-id" value="Add"></td>
        </tr>
      </form>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <br>
  <br>
  <a href="{% url 'home' %}"><button type="button" class="btn btn-info">Back to Home</button></a>
  <br>
  <br>
  <br>
  <br>
  <br>
  <script>
    var form = document.getElementById("form-id");

    document.getElementById("your-id").addEventListener("click", function () {
    form.submit();
    });
  </script>
  <script>
    $(document).ready(function() {
    $('#data').DataTable();
    } );
  </script>
  {% endblock %}